<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/itemtable.css">
    <title>Spring Boot</title>
</head>
<body>
<div class="grid" th:fragment="nav-header">

    <nav class="navigation">
        <ul class="navigation__list navigation__list--inline">
            <li class="navigation__item"><a href="#" class="is-active">Home</a></li>
            <li class="navigation__item"><a href="#">About Us</a></li>
            <li class="navigation__item"><a href="#">Work</a></li>
            <li class="navigation__item"><a href="#">Clients</a></li>
            <li class="navigation__item"><a href="#">Contact</a></li>
        </ul>
    </nav>

</div>
</body>
</html>